In [27]:
import pandas as pd
df = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\Netflix data_analysing\Netflix-Data-Cleaning-and-Analysis-Project-ELT\data\netflix_titles.csv")

In [28]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python311\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\python311\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python311\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [29]:
pip install pymysql

Requirement already satisfied: pymysql in c:\python311\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import sqlalchemy as sal
engine = sal.create_engine("mysql+pymysql://root:@localhost/netflix_data")
conn = engine.connect()
#print(conn)

In [31]:
df.to_sql('netflix_raw',con=conn, index=False, if_exists='append')
#conn.close()

8807

In [33]:
df[df.show_id =='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

so we have to find maximum length of each columns

In [14]:
show_id = max(df.show_id.str.len())
typ_e = max(df.type.str.len())
title = max(df.title.str.len())
director = max(df.director.str.len())
cast = max(df.cast.dropna().str.len())
country = max(df.country.str.len())
date_added = max(df.date_added.str.len())
#release_year = max(df.release_year.str.len())
rating = max(df.rating.str.len())
duration = max(df.duration.str.len())
listed_in = max(df.listed_in.str.len())
description = max(df.description.str.len())
print(show_id)
print(typ_e)
print(title)
print(director)
print(cast)
print(country)
print(date_added)
#print(release_year)
print(rating)
print(duration)
print(listed_in)
print(description)

5
7
104
208.0
771
123.0
19.0
8.0
10.0
79
248